<h3> List are ordered sequence which can hold variety of object types </h3>

In [1]:
l =[1,'Basant',3] # this is how list is declared

In [2]:
l

[1, 'Basant', 3]

In [3]:
len(l) # we can calculate legth of the list

3

In [4]:
l[0] #we can fetch the values of list using index

1

In [5]:
my_list=['one','two','three']

In [7]:

mylist_1=['four','five','six']

In [8]:
my_new_list=my_list+mylist_1 # concatenating two list

In [9]:
my_new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [10]:
my_new_list[1:] # slicing of the list

['two', 'three', 'four', 'five', 'six']

In [11]:
my_new_list[1:3]

['two', 'three']

<h4> List are mutable that means we can change the values of the list </h4>

In [12]:
my_new_list[0] ="One all caps" # chnaging the value of index 0 of the list

In [13]:
my_new_list

['One all caps', 'two', 'three', 'four', 'five', 'six']

<h5> Adding elements at the end of the list using append method</h5>

In [15]:
my_new_list.append("at last") # adding the "at last" element at the end of the list

In [16]:
my_new_list

['One all caps', 'two', 'three', 'four', 'five', 'six', 'at last']

<h5> Removing the last element from the list using pop method</h5>

In [17]:
my_new_list.pop() # remove the last element from the list

'at last'

In [18]:
my_new_list

['One all caps', 'two', 'three', 'four', 'five', 'six']

In [19]:
sl = my_new_list.pop() # poping the last element and storing in the variable

In [20]:
sl

'six'

<h5> if we want to remove any element from the list using pop method pass index value in brackets of pop method

<br>

By default the index value is -1 so the last element is removed we can also pass negative index also 
</h5>

In [22]:
my_new_list.pop(0) # removing the 0 th index value from the list

'One all caps'

In [23]:
my_new_list

['two', 'three', 'four', 'five']

In [24]:
new_sort_list=['a','x','z','b']
new_num_list=[1,99,20,3]

<h5> we can sort the element of the list using sort() method </h5>

In [25]:
new_sort_list.sort() # sort is an inplace method so it does not show any uotput but when we print the list than only we get to know list is sorted

In [26]:
new_sort_list

['a', 'b', 'x', 'z']

In [27]:
new_num_list.sort()

In [28]:
new_num_list

[1, 3, 20, 99]

<h5> assigning the sorted list in another list wont work here because sort() method is an inplace method <br>

so it would not retrun anything so nothing is assigned in other list so it contain none values</h5>

In [33]:
new_list=new_num_list.sort()

In [34]:
type(new_list) # that's why none typed that means does not contain any values

NoneType

In [36]:
new_num_list.sort()          # so first sort the list than assign the sorted list to another list
new_list = new_num_list

In [37]:
new_list

[1, 3, 20, 99]

<h5> we can reverse the list using reverse() method <br>
This method is also a inplace method so does not return anything</h5>

In [41]:
new_list.reverse() # reverse all the list

In [42]:
new_list

[1, 3, 20, 99]

In [43]:
nested_list=[[1,2,3],[5,6,7],[8,9,10],11] # nested list

In [44]:
nested_list[0][1] # to acces the element of nested list You would just add another set of brackets for indexing the nested list

2