In [1]:
myList='hello'

In [4]:
mylist=[]                  # how we initially create a list
for letter in myList:
    mylist.append(letter)
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist=[letter for letter in myList]    # this is called list comprehension (shortcut for above converting into the list)

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
list1=[word for word in 'basant']

In [8]:
list1

['b', 'a', 's', 'a', 'n', 't']

In [9]:
double=[num for num in range(1,20)]

In [10]:
double

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
sq=[num**2 for num in range(1,20)]

In [12]:
sq

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [17]:
double=[num for num in range(1,20) if num%2==0]

In [18]:
double

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
double=[num**2 for num in range(1,20) if num%2==0] # if in list comprehension

In [20]:
double

[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [23]:
results=[x if x%2==0 else 'odd' for x in range(0,10)] # if else in list comprehension

In [24]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [25]:
list=[]# if else in list comprehensionlist

for x in [2,4,8]:
    for y in [1,100,1000]:
        list.append(x*y)

In [26]:
list

[2, 200, 2000, 4, 400, 4000, 8, 800, 8000]

In [27]:
list =[x*y for x in [2,4,8] for y in [1,100,1000]]

In [28]:
list

[2, 200, 2000, 4, 400, 4000, 8, 800, 8000]